<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866487395467-fs341qobicir3nadv4qkqrflc5omjjjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866487395467-fs341qobicir3nadv4qkqrflc5omjjjm</string>
	<key>API_KEY</key>
	<string>AIzaSyCvAD3OhR-TC4WS6ypdhqaTvY7uJAEWlZw</string>
	<key>GCM_SENDER_ID</key>
	<string>866487395467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseFullApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-full-e50a1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-full-e50a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866487395467:ios:2711e685183c4cd9dca08e</string>
</dict>
</plist>